<div>
  <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button"
       style="height: 80px;color: #ffffff;background: rgb(34,34,34);">
    <div class="container-fluid">
      <a class="btn btn-link" role="button" id="menu-toggle"  (click)="sideToggle()"><i
        class="fa fa-bars" style="font-size: 20px;color: rgb(255,255,255);"></i></a><a
      class="navbar-brand" href="#">&nbsp;Network Name</a>
      <button data-toggle="collapse"
              class="navbar-toggler" data-target="#navcol-1"><i class="fa fa-ellipsis-v"></i></button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav ml-auto" style="background: #222222;">
          <li class="nav-item"><a class="nav-link"
                                  style="color: #ffffff;padding-top: 11px;padding-right: 48px;" href="#"><i
            class="fa fa-sign-out"></i>&nbsp;Sign Out</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div id="wrapper" [class.toggled]="sideToggled">
  <div id="sidebar-wrapper" style="background: #222222;">
    <ul class="sidebar-nav">
      <li style="height: 60px;">
        <a href="#" style="padding-top: 10px;padding-bottom: 10px;">
          <i class="fa fa-home" style="margin-right: 10px;"></i>
          Home
        </a>
      </li>
      <li style="height: 60px;"><a href="#" style="padding-top: 10px;padding-bottom: 10px;"><i
        class="fa fa-money" style="margin-right: 10px;"></i>Billing</a></li>
      <li><a href="#" style="padding-top: 10px;padding-bottom: 10px;"><i class="fa fa-area-chart"
                                                                         style="margin-right: 10px;"></i>Data Usage</a>
      </li>
      <li><a href="#" style="padding-top: 10px;padding-bottom: 10px;"><i class="fa fa-th-list"
                                                                         style="margin-right: 10px;"></i>Sessions</a>
      </li>
    </ul>
    <hr>
  </div>
  <div class="page-content-wrapper">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

