<div>
  <div style="padding-top: 23px;">
    <div class="row" style="padding: 20px;">
      <div class="col-md-3" style="margin-top: 15px;">

        <div class="card shadow action-card" style="background: #006b77;" routerLink="../charge-card">
          <div class="card-body"><i class="fa fa-credit-card d-flex justify-content-center"
                                    style="color: rgb(255,255,255);font-size: 22px;"></i>
            <h4 class="text-center card-title"
                style="color: rgb(255,255,255);margin-top: 20px;">{{locale.get('charge_card')}}</h4>
          </div>
        </div>

      </div>
      <div class="col-md-3" style="margin-top: 15px;">
        <div class="card shadow action-card" style="background: #006854;" routerLink="../activate-service">
          <div class="card-body">
            <i class="fa fa-flash d-flex justify-content-center" style="color: rgb(255,255,255);font-size: 22px;"></i>
            <h4 class="text-center card-title"
                style="color: rgb(255,255,255);margin-top: 20px;">{{locale.get('activate_current')}}</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3" style="margin-top: 15px;">
        <div class="card shadow action-card" style="background: #004f6d;" routerLink="../extend-service">
          <div class="card-body"><i class="fa fa-puzzle-piece d-flex justify-content-center"
                                    style="color: rgb(255,255,255);font-size: 22px;"></i>
            <h4 class="text-center card-title"
                style="color: rgb(255,255,255);margin-top: 20px;">{{locale.get('extend_service')}}</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3" style="margin-top: 15px;">
        <div class="card shadow action-card" style="background: #566b21;" routerLink="../change-service">
          <div class="card-body"><i class="fa fa-exchange d-flex justify-content-center"
                                    style="color: rgb(255,255,255);font-size: 22px;"></i>
            <h4 class="text-center card-title"
                style="color: rgb(255,255,255);margin-top: 20px;">{{locale.get('change_service')}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="container-fluid" style="margin-top: 23px;">
    <div style="text-align: center">
      <div class="spinner-border" role="status" *ngIf="!dashboardData">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="row" style="padding: 20px;background: #ffffff;" *ngIf="dashboardData">
      <div class="col-md-3" style="margin-top: 15px;">
        <div class="card shadow" style="background: darkslategray">
          <div class="card-body">
            <h4 class="text-uppercase text-center card-title"
                style="color: rgb(255,255,255);margin-top: 20px;">{{locale.get('remaining_days')}}</h4>
            <h4 class="text-center card-title"
                style="color: rgb(255,255,255);margin-top: 12px;">{{dashboardData.remaining_days}}</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3" style="margin-top: 15px;">
        <div class="card shadow" style="background: darkslategray;">
          <div class="card-body">
            <h4 class="text-uppercase text-center card-title" style="color: rgb(255,255,255);margin-top: 20px;">
              {{locale.get('balance')}}</h4>
            <h4 class="text-center card-title"
                style="color: rgb(255,255,255);margin-top: 12px;">{{dashboardData.balance}} {{localStorageService.GET_POUND()}}</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3" style="margin-top: 15px;">
        <div class="card shadow" style="background: darkslategray;">
          <div class="card-body">
            <h4 class="text-uppercase text-center card-title" style="color: rgb(255,255,255);margin-top: 20px;">
              {{locale.get('remaining_traffic')}}</h4>
            <h4 class="text-center card-title"
                style="color: rgb(255,255,255);margin-top: 12px;">{{trafficTransfer.bytesToSize(dashboardData.remaining_traffic)}}</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3" style="margin-top: 15px;">
        <div class="card shadow" style="background: darkslategray;">
          <div class="card-body">
            <h4 class="text-uppercase text-center card-title" style="color: rgb(255,255,255);margin-top: 20px;">
              {{locale.get('unpaid_invoices')}}</h4>
            <h4 class="text-center card-title"
                style="color: rgb(255,255,255);margin-top: 12px;">{{dashboardData.unpaid_invoices}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="margin-top: 32px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 " style="margin-top: 20px;padding-bottom: 20px;">
        <div class="bg-white px-2 py-2">
          <h4
            style="background: darkslategray;color: rgb(255,255,255);padding-top: 10px;padding-bottom: 10px;padding-right: 5px;padding-left: 5px;">
            <i class="fa fa-puzzle-piece"
               style="margin-left: 5px;margin-right: 5px;"></i> {{locale.get('service_details')}} </h4>
          <div style="text-align: center">
            <div class="spinner-border" role="status" *ngIf="!serviceData">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <tbody *ngIf="serviceData">
              <tr>
                <td>{{locale.get('current_service')}}</td>
                <td>{{serviceData.profile_name}}</td>
                <!--                <i class="fa fa-exchange"-->
                <!--                   style="margin-left: 5px;margin-right: 5px;font-size: 23px;"></i>-->
              </tr>
              <tr>
                <td>{{locale.get('service_desc')}}<br></td>
                <td>{{serviceData.description}}<br></td>
              </tr>
              <tr>
                <td>{{locale.get('service_status')}}<br></td>
                <td style="color: darkgreen"
                    *ngIf="serviceData.subscription_status.expiration && serviceData.subscription_status.traffic">{{locale.get('active')}}</td>
                <td style="color: red"
                    *ngIf="!serviceData.subscription_status.expiration && serviceData.subscription_status.traffic">{{locale.get('expired')}}</td>
                <td style="color: darkorange"
                    *ngIf="serviceData.subscription_status.expiration && !serviceData.subscription_status.traffic">{{locale.get('finished_package')}}</td>
                <td style="color: red"
                    *ngIf="!serviceData.subscription_status.expiration && !serviceData.subscription_status.traffic">{{locale.get('expired')}}</td>
              </tr>
              <tr>
                <td>{{locale.get('expiration_date')}}<br></td>
                <td>{{serviceData.expiration}}<br></td>
              </tr>
              <tr>
                <td>{{locale.get('connection_status')}}<br></td>
                <td *ngIf="serviceData.subscription_status.uptime">{{locale.get('online')}}</td>
                <td *ngIf="!serviceData.subscription_status.uptime">{{locale.get('offline')}}</td>
              </tr>
              <tr>
                <td>{{locale.get('service_price')}}<br></td>
                <td>{{serviceData.price}} {{localStorageService.GET_POUND()}}<br></td>
              </tr>
              <tr>
                <td>{{locale.get('auto_renew')}}<br></td>
                <td *ngIf="userData && userData.auto_renew">{{locale.get('available')}}</td>
                <td *ngIf="userData && !userData.auto_renew">{{locale.get('un_available')}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
      <div class="col-md-6 " style="margin-top: 20px;padding-bottom: 20px;">

        <div class="bg-white px-2 py-2">
          <h4
            style="background: darkslategray;color: rgb(255,255,255);padding-top: 10px;padding-bottom: 10px;padding-right: 5px;padding-left: 5px;">
            <i class="fa fa-user-circle"
               style="margin-left: 5px;margin-right: 5px;"></i> {{locale.get('personal_details')}}</h4>
          <div style="text-align: center">
            <div class="spinner-border" role="status" *ngIf="!serviceData">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="table-responsive">

            <table class="table table-striped">
              <tbody *ngIf="userData">
              <tr>
                <td>{{locale.get('id')}}<br></td>
                <td>{{userData.id}}</td>
              </tr>
              <tr>
                <td>{{locale.get('name')}}<br></td>
                <td>{{userData.name}}<br></td>
              </tr>
              <tr>
                <td>{{locale.get('username')}}<br></td>
                <td>{{userData.username}}<br></td>
              </tr>
              <tr>
                <td>{{locale.get('account_balance')}}<br></td>
                <td>{{userData.balance}} {{localStorageService.GET_POUND()}}<br></td>
              </tr>
              <tr>
                <td>{{locale.get('email')}}<br></td>
                <td>{{userData.email}}<br></td>
              </tr>
              <tr>
                <td>{{locale.get('phone')}}<br></td>
                <td>{{userData.phone}}<br></td>
                <!--                <i class="fa fa-edit"-->
                <!--                   style="margin-left: 5px;margin-right: 5px;font-size: 23px;"></i>-->
              </tr>
              <tr>
                <td>{{locale.get('address')}}<br></td>
                <td>{{userData.address}}<br></td>
                <!--                <i class="fa fa-edit"-->
                <!--                   style="margin-left: 5px;margin-right: 5px;font-size: 23px;"></i>-->
              </tr>

              </tbody>
            </table>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
