@font-face {
  font-family: CairoFont;
  src: url("assets/fonts/Cairo-Regular.ttf") format("truetype");
}
*{
  font-family: CairoFont, serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
