@font-face {
  font-family: CairoFont;
  src: url("assets/fonts/Cairo-Regular.ttf") format("truetype");
}

*{
  font-family: CairoFont, serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: CairoFont, serif;
}

html, body { height: 100%; }
body { margin: 0;
  font-family: CairoFont, serif }
.app-full-bleed-dialog .mat-dialog-container {
  padding: 0;
}
